In [2]:
# Import testing CSV

import pandas as pd

ala_results = pd.read_csv("results_no_head.csv", header=None, names=['label', 'title'] ,sep=",")

ala_results.head(10)

   label                                              title
0      0  copycat muslim terrorist arrested with assault...
1      0  wow! chicago protester caught on camera admits...
2      1   germany's fdp look to fill schaeuble's big shoes
3      0  mi school sends welcome back packet warning ki...
4      1  u.n. seeks 'massive' aid boost amid rohingya '...
5      0  did oprah just leave ‚nasty‚ hillary wishing s...
6      1  france's macron says his job not 'cool' cites ...
7      0  flashback: chilling ‚60 minutes‚ interview wit...
8      1  spanish foreign ministry says to expel north k...
9      1  trump says cuba 'did some bad things' aimed at...

In [3]:
guy_results = pd.read_csv("predictions.csv", header=None, names=['label', 'title'] ,sep=",")

guy_results.head(10)

   label                                              title
0      0  copycat muslim terrorist arrested with assault...
1      0  wow! chicago protester caught on camera admits...
2      1   germany's fdp look to fill schaeuble's big shoes
3      0  mi school sends welcome back packet warning ki...
4      1  u.n. seeks 'massive' aid boost amid rohingya '...
5      0  did oprah just leave ‚nasty‚ hillary wishing s...
6      1  france's macron says his job not 'cool' cites ...
7      0  flashback: chilling ‚60 minutes‚ interview wit...
8      1  spanish foreign ministry says to expel north k...
9      1  trump says cuba 'did some bad things' aimed at...

In [12]:
amb_results = pd.read_csv("new_data_amb.csv", header=None, names=['label', 'title', 'process'] ,sep=",")

amb_results = amb_results.drop(columns=['process'])

amb_results.head(10)

,label,title
0,0,copycat muslim terrorist arrested with assault weapons
1,0,wow! chicago protester caught on camera admits violent activity was pre-planned: ‚it‚s not gonna be peaceful‚
2,1,germany's fdp look to fill schaeuble's big shoes
3,0,mi school sends welcome back packet warning kids against wearing u.s. flag to school
4,1,u.n. seeks 'massive' aid boost amid rohingya 'emergency within an emergency'
5,0,did oprah just leave ‚nasty‚ hillary wishing she wouldn‚t have endorsed her? [video]
6,1,france's macron says his job not 'cool' cites talks with turkey's erdogan
7,0,flashback: chilling ‚60 minutes‚ interview with george soros nearly 20 years ago
8,1,spanish foreign ministry says to expel north korean ambassador
9,1,trump says cuba 'did some bad things' aimed at u.s. diplomats

In [14]:
# Count the occurrences of each unique value in the 'label' column
label_counts_ala = ala_results['label'].value_counts()#/9984*100
label_counts_guy = guy_results['label'].value_counts()#/9984*100
label_counts_amb = guy_results['label'].value_counts()#/9984*100

# Print the counts
print(label_counts_ala)
print(label_counts_guy)
print(label_counts_amb)

label
1    5172
0    4812
Name: count, dtype: int64
label
1    5297
0    4687
Name: count, dtype: int64
label
1    5297
0    4687
Name: count, dtype: int64

In [23]:
# Combine the datasets into a single DataFrame for comparison
comparison = pd.DataFrame({
    'title': ala_results['title'],           # Titles from ala_results (assumed identical across datasets)
    'ala_label': ala_results['label'],       # Labels from ala_results
    'guy_label': guy_results['label'],       # Labels from guy_results
    'amb_label': amb_results['label']      # Labels from the third dataset
})

# Find rows where at least one label disagrees
disagreement = comparison[
    (comparison['ala_label'] != comparison['guy_label']) |
    (comparison['ala_label'] != comparison['amb_label']) |
    (comparison['guy_label'] != comparison['amb_label'])
]

# Take a random sample of rows where predictions disagree
sample_disagreement = disagreement.sample(n=20, random_state=4)  # Adjust n for the sample size

# Display the sample as a DataFrame with full column width
pd.set_option('display.max_colwidth', None)  # Allow full display of the 'title' column
sample_disagreement.head(30)

,title,ala_label,guy_label,amb_label
8833,chicago daycare opens for adults to wear diapers,0,0,1
8656,it begins: wisconsin company first in us to implant microchips in employees,0,1,0
7525,saudi women to be allowed to drive from age 18 same as men,1,0,1
9089,more than half of eligible australians have so far voted in same-sex marriage ballot,1,0,1
1546,soldier: ‚here‚s why trump‚s transgender military ban makes sense‚,0,1,0
3708,ga supreme court denies kkk right to ‚adopt a highway‚‚while il city ‚unanimously,0,0,1
2410,boiler room ep #116 ‚ trigger gifs,0,1,1
5534,fake news! rigged nbc/wsj poll claims trump hits ‚historic lows‚‚100% false!,0,1,0
9218,hurricane irma swirling very close to leeward islands: nhc,0,0,1
8697,ron paul liberty report: us-saudi arms trafficking to terrorists in syria,1,0,1
7373,https://fedup.wpengine.com/wp-content/uploads/2015/04/hillarystreetart.jpg,0,1,0
981,tiffany & co. takes big risk‚sides against trump on very controversial issue,0,1,0
5430,hurricane irma to move over portions of virgin islands soon: nhc,1,0,1
9121,one eve of gaza reconciliation hamas frees fatah men,1,1,0
4819,media links domestic drone surveillance to trump with zero evidence,0,1,1
3099,boiler room ‚ ep #52 ‚ never ending chaos,0,1,0
921,hud official spends $366000 in fed funds on booze,1,1,0
2322,bezos-owned washington post running pr for bezos-owned amazon ‚hq2‚,1,0,1
3066,air force will ease policy on discharging transgenders,1,1,0
4859,muslim pilgrims in muzdalifa prepare for haj's final stages,1,0,1